body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #ffd900;
  -webkit-text-stroke: 2px rgb(0, 110, 255);
}

.card {
  margin: 5px;
  text-align: center;
  width: 360px;
  height: 370px;

}

.btn-margin {
    margin-top: 25px;
}

.btn-pkm {
  color: #FFFFFF;
  background-color: #888888;
}

img {
  height: 200px;
  object-fit: contain;
}